/* CSS Document */

/* ----- Table Styling ----- */

#eventTable {
  padding: 10px;
  background-color: rgba(100,100,100,0.20);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

#eventTable table {
  margin: 10px auto;
}

#eventTable th {
  font-variation-settings: "slnt" 1, "wdth" 75, "wght" 70;
  font-weight: normal;
  color: #EDEDED;
  background-color: #1E1E1E;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  font-size: 0.95em;
  padding: 10px;
}

#eventTable td {
  font-variation-settings: "slnt" 100, "wdth" 55, "wght" 40;
  background-color: rgba(255,255,255,0.50);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
  font-size: 1em;
  padding: 10px;
}

#eventTable button {
  font-family: latino-gothic-variable, sans-serif;
  font-variation-settings: "slnt" 1, "wdth" 60, "wght" 60;
  color: #1E1E1E;
  background-color: #FFFFFF;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 15px;
  width: 100%;
  cursor: pointer;
}
  
#eventTable button:hover {
  background-color: #DC494C;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#no_event {
  text-align: center;
}

/* ----- Buttons ----- */
 
#event_register,
#reset_form {
  font-family: latino-gothic-variable, sans-serif;
  font-variation-settings: "slnt" 1, "wdth" 60, "wght" 60;
  margin-top: 10px;
  margin-right: 5px;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

#event_register:hover {
  background-color: #FFAE00;
  color: #1E1E1E;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#reset_form:hover {
  background-color: #DC494C;
  color: #1E1E1E;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* ----- Form Styling ----- */

#registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(100,100,100,0.20);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

#registerForm div {
  text-align: center;
  margin: 5px;
}

#registerForm input,
#registerForm select {
  font-family: latino-gothic-variable, sans-serif;
  font-variation-settings: "slnt" 1, "wdth" 55, "wght" 40;
  padding: 0.625em;
  margin-bottom: 0.3em;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,0.1);
  width: 15em;
}

#role option {
  font-family: Arial, sans-serif;
}

#charity_name {
  width: 20em;
}
