/* CSS Document */

:root {
  font-family: latino-gothic-variable, sans-serif;
  font-variation-settings: "slnt" 1, "wdth" 55, "wght" 40;
  background-image: url("../media/images/website-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.hidden {
    display: none;
}

#page-wrapper {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(19,19,19,0.5);
}

/* ================== Header Section ================== */

#header-logo {
  display: flex;
  background-color: #FFAE00;
  color: #1E1E1E;
  padding: 20px;
  margin: 0px;
}

#header-logo h1 {
  font-variation-settings: "slnt" 100, "wdth" 100, "wght" 70;
  margin: 5px 5px 0px 5px;
}

#header-logo img {
  margin: 0px;
}

header nav {
  background-color: #1E1E1E;
  padding: 10px;
}

header a {
  font-variation-settings: "slnt" 50, "wdth" 70, "wght" 50;
  text-decoration: none;
  color: #EDEDED;
  padding: 10px;
}

    header a:hover {
      background-color: #DC494C;
      color: #FFFFFF;
      padding: 10px;
    }

/* ================== General Elements ================== */

section {
  backdrop-filter: blur(2px);
  background-color: rgba(255,255,255,0.40);
  padding: 20px;
}

h1 {
  font-variation-settings: "slnt" 1, "wdth" 90, "wght" 50;
  margin: 10px auto;
}

h2 {
  font-size: 1.15em;
  font-variation-settings: "slnt" 1, "wdth" 80, "wght" 50;
  margin: 10px auto;
}

h3 {
  font-size: 1em;
  font-variation-settings: "slnt" 1, "wdth" 70, "wght" 30;
  margin: 10px auto;
}

/* ================== Footer Section ================== */

footer {
  text-align: center;
  font-variation-settings: "slnt" 1, "wdth" 50, "wght" 70;
  background-color: #1E1E1E;
  color: #C7C7C7;
  padding: 20px 0px 10px;
}

footer a {
  color: #C7C7C7;
  text-decoration: none;
}

    footer a:hover {
      color: #B3CBD9;
      text-decoration: underline;
    }

#footer-extra-credits {
  font-variation-settings: "slnt" 1, "wdth" 50, "wght" 50;
  color: #666666;
}

#footer-extra-credits a {
  color: #666666;
  text-decoration: none;
}

    #footer-extra-credits a:hover {
      color: #526672;
      text-decoration: underline;
    }

/* ================== Page Banners ================== */

#banner-img {
  padding: 0;
  text-align: center;
}

#banner-img img {
  width: 100%;
  height: 12em;
  object-fit: cover;
}

/* ================== Extra Nav ================== */

#explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1E1E1E;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(19,19,19,0.15);
  margin: 0;
  padding: 2em 0 1em;
}

#explore p {
  margin: 20px auto;
  max-width: 35em;
}

#explore h2 {
  font-variation-settings: "slnt" 1, "wdth" 75, "wght" 50;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

/* ----- Nav Links ----- */

#explore-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#explore-links div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  background-size: auto 100%;
  background-position: center;
  background-color: rgba(255,255,255,0.10);
  background-blend-mode: overlay;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  filter: grayscale(20%) saturate(90%);
}

#explore-links a {
  z-index: 9999;
  width: 100%;
  font-variation-settings: "slnt" 100, "wdth" 90, "wght" 80;
  font-size: 1.7em;
  text-decoration: none;
  color: #EDEDED;
  text-shadow: 0 0 10px rgba(30,30,30,0.8);
}

.link-donation {
  background-image: url("../media/images/donation_page.jpg");
}

.link-volunteer {
  background-image: url("../media/images/volunteering.jpg");
}

.link-event {
  background-image: url("../media/images/bank_event.jpg");
}

  #explore-links div:hover {
    box-shadow: inset 0 0 17px rgba(0, 0, 0, 0.2);
    background-size: auto 105%;
  }

/* ================== Larger Screens ================== */

@media screen and (min-width: 850px) 
{
    #page-wrapper {
      width: 80%;
    }
}

@media screen and (min-width: 1250px) 
{
    #page-wrapper {
      width: 1000px;
    }
}
